* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  min-height: 100vh;
}
.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.canvas-container {
  height: 600px;
}
.score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}
.left {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10px;
  top: 10px;
}